@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Clear padding, and margin */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body {
   display: flex;
   justify-content:center;
   align-items: center;
   height: 100vh;
   background-color: grey;
   font-family: 'Roboto', sans-serif;
}

.form-container {
   padding: 18px;
   border-radius: 8px;
   background-color: #f6f6f6;
   width: 300px;
}

.calc-toggle-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}
.input-group {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
}
.input-group label {
   margin-right: 10px;
   font-weight: 500;
   font-size: 15px;
}
.input-group input[type="number"] {
   width: 50px;
   height: 50px;
   border-radius: 5px;
   text-align: center;
   font-size: 15px;
   font-weight: 500;
   color: grey;
}
.input-group:nth-last-child(1) {
   margin-bottom: 30px;
}

/* Form Buttom Styling */
.buttons-container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
}
#submit-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 45%;
   height: 35px;
   color: white;
   font-weight: 600;
   padding: 10px 0;
   background-color: rgb(236, 171, 20);
   border-radius: 5px;
   border: none;
   cursor: pointer;
}
#reset-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 45%;
   height: 35px;
   color: white;
   font-weight: 600;
   padding: 10px 0;
   background-color: rgb(72, 72, 72);
   border-radius: 5px;
   border: none;
   cursor: pointer;
}



/* Output Styling */
#output {
   margin-top: 25px;
   padding: 15px 25px;
   width: 100%;
   background-color: #f6f6f6;
}