/* #cut-list { 
   list-style-type: none;
   counter-reset: elementcounter;
   width: 100%;
} */
/* .cut-input-wrapper { 
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   margin-bottom: 20px;
   transition: all 0.5s ease-in-out;
} */
/* li {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 25px;
} */

.error2-ft-text-wrapper {
   position: absolute;
   top: 105%;
   left: 33%;
}
.error2-ft-icon-wrapper {
   top: 32%;
   left: 47%;
}
.error2-inch-text-wrapper {
   top: 104%;
   left: 65%;
}
.error2-inch-icon-wrapper {
   top: 32%;
   left: 78%;
}